<div class="navbar-area">

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- logo -->
            <a  class="navbar-brand" href="">
                <img src="assets/images/logo.png" alt="logo" width="120" height="120">
            </a>

            <!-- menu -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            Reserva
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            Contacto
                        </a>
                    </li>
                </ul>
                <!-- formulario busqueda -->
                 <div class="others-option">
                    <form class="search-box" action="">
                        <input type="text" name="Buscar" placeholder="Buscar" class="form-control">
                        <button type="submit" class="search-btn">
                            <i class="ri-search-line"></i>
                        </button>
                    </form>
                 </div>
            </div>
        </nav>

    </div>

</div>