<!-- search -->

<div>
    <div>
        <div>
            <h2>Hoteles en cualquier parte del mundo</h2>
            <p>Buscar hoteles</p>
            <form action="">
                <div>
                    <div>
                        <div>
                            <label for="">Lugar</label>
                            <input type="text" placeholder="Hacia donde vas">
                            <img src="" alt="buscar">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="">Check In(fecha de ingreso)</label>
                         
                            <img src="" alt="calendario">
                        </div>
                    </div>
                     <div>
                        <div>
                            <label for="">Check Out(fecha de salida)</label>
                         
                            <img src="" alt="calendario">
                        </div>
                    </div>
                     <div>
                        <div>
                            <label for="">Pasajeros</label>
                            <input type="text" placeholder="Agregar">
                            <img src="" alt="Calendario">
                        </div>
                    </div>
                    <div>
                        <div>
                            <button type="submit">
                                <i></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>