.top-header-area{
    padding: { // * es la distancia entre el elemento y el borde de ese elemento
        top: 10px;
        bottom: 10px;
    };
    .container-fluid{
        max-width: 100%;
        padding: {
            right: 30px;
            left: 30px;
        };
    }
}
.top-header-left-content{
    list-style-type: none;//* borramos el punto de la lista
    margin-top: 0;
    margin-bottom: 0;

    li{
        display: inline-block;
        margin-left: 30px;

        a {
            display: block;
            font-size: 15px;
            padding-right: 22px;
            position: relative;
            color: var(--paragraphColor);

            img {
                right: 0;
                top: 2px;
                position: absolute;
            }
            &:hover{
                color: var(--primaryColor);
            }
        }
        &:last-child{
            margin-left: 0;
        }
    }
}
.top-header-right-content{
    padding-right: 0;
    text-align: end;
    margin-bottom: 0;
    list-style-type: none;

    li {
        display: inline-block;
        margin-left: 30px;
        padding-right: 15px;

        a{
            font-size: 15px;
            color: var(--paragraphColor);

            &:hover{
                color: var(--primaryColor);
            }
        }
        &:last-child{
            margin-left: 0;
        }
    }
}