<div class="top-header-area bg-f3f7ff">
    
    <div class="container">
        
        <div class="row align-items-center">
            <!-- telefono -->
             <div class="col-lg-6 col-sm-6">
                <ul class="top-header-left-content">
                    <li>
                        <a href="">
                            <img src="assets/images/icon/call.svg" alt="llamar">
                            +569 9876-0317
                        </a>
                    </li>
                </ul>
             </div>
             <!-- buttons -->
              <div class="col-lg-6 col-sm-6">
                <ul class="top-header-right-content">
                    <li>
                        <a href="">Login</a>
                    </li>
                    <li>
                        <a href="">Registro</a>
                    </li>
                </ul>
              </div>
        </div>
    </div>
</div>
