/* You can add global styles to this file, and also import other style files */
/* @import '~remixicon/fonts/remixicon.css'; */


:root{
    --primaryColor: #924dff;
    --paragraphColor: #696969;
    --whiteColor: #ffffff;
    --blackColor: #2f3045;
    --secondaryColor: #ff5b4a;
    --transition: .5s;
    --fontSize: 16px;
}
.bg-f3f7ff{
    background-color: #f3f7ff;
}